SUPABASE_URL=https://kuceorlfdjddjgeldcni.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt1Y2VvcmxmZGpkZGpnZWxkY25pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg1NDI5NTcsImV4cCI6MjA3NDExODk1N30.6o2mYzALDeu2o3wh67RZRqedvbDl8W9B9EqrZUQSCTg
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt1Y2VvcmxmZGpkZGpnZWxkY25pIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODU0Mjk1NywiZXhwIjoyMDc0MTE4OTU3fQ.IUpCwFwuVgBPZaVrtR1ZBj6TlafKcZigcCrVlYwy9tQ

RPC_ETHEREUM=https://endpoints.omniatech.io/v1/eth/mainnet/public
RPC_POLYGON=https://polygon-rpc.com
RPC_BSC=https://bsc-dataseed.binance.org
RPC_ARBITRUM=https://arb1.arbitrum.io/rpc
RPC_AVALANCHE=https://api.avax.network/ext/bc/C/rpc

ETL_POLL_SEC=1
TOP_WALLETS_REFRESH_SEC=1
BALANCE_POLL_SEC=120

ENV=production